/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-black: #181818;
    --vt-c-white: #ffffff;

    /* Accent colors */
    --accent-primary: #720aad;
    --accent-secondary: #920ae0;
    --accent-hover: #5b088b;

    --color-background: var(--vt-c-black); /* Set background to black */
    --color-background-soft: #202020;
    --color-border: rgba(255, 255, 255, 0.2);
    --color-text: var(--vt-c-white); /* Set text to white for contrast */
    --color-text-black: var(--vt-c-black);
    --color-heading: var(--vt-c-white);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-border: rgba(255, 255, 255, 0.2);
        --color-heading: var(--vt-c-white);
        --color-text: var(--vt-c-white);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
