@import './base.css';

#app {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--accent-secondary);
}

p, ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #f0f4f8;
}


a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

.btn {
    background-color: var(--accent-primary);
}

.btn:hover {
    background-color: var(--accent-hover);
}

@media (hover: hover) {
    a:hover {
        background-color: var(--accent-hover);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
